body {
  margin: 0;
  padding-top: 70px;
}

.container-fluid {
  background-color: #315aa5;
  height: 87px;
}

.navbar-default .navbar-nav li a {
  color: white;
  position: relative;
  top: 18px;
}

.galeria {
  padding-top: 80px;
  padding-bottom: 60px;
}

.botonmasinformacion {
  text-align: center;
}

iframe {
  max-width: 100%;
}

/*
.footer-style {
    padding-top: 50px;
    background-color: #2C3E50;
}
footer {
  color: white;
}
footer h3 {
  margin-bottom: 30px;
    font-weight: 800;
}
footer .footer-above {
  padding-top: 50px;
  background-color: #2C3E50;
}
footer .footer-col {
  margin-bottom: 50px;
}
footer .footer-below {
  padding: 25px 0;
  background-color: #233140;
} */

