body {
  margin: 0;
  padding-top: 70px;
  background-color: #6E89B9;
}

/*NAVBAR*/

.container-fluid {
  background-color: #315aa5;
  height: 87px;
}

.navbar-default .navbar-nav li a {
  color: #94B7F7;
  position: relative;
  top: 18px;
  padding-right: 20px;
}

/*THUMBNAILS*/

.galeria {
  padding-top: 80px;
  padding-bottom: 60px;
}

.botonmasinformacion {
  text-align: center;
}

/*GOOGLE MAPS*/

iframe {
  max-width: 100%;
}

/*FOOTER*/

.formulario {
  color: black;
  display: block;
  width: 100%;
}

.datos {
  padding-bottom: 15px;
}

.tituloformulario {
  padding-bottom: 30px;
}

.tituloformulario2 {
  padding-bottom: 5px;
}

.footer-style {
  padding-top: 20px;
  background-color: #315AA5;
}

footer {
  color: white;
}

footer h3 {
  margin-bottom: 30px;
}

footer .footer-col {
  margin-bottom: 40px;
}

footer .footer-below {
  padding: 25px 0;
  background-color: red;
}

