/*NAVBAR*/
.container-fluid {
  background-color: #315aa5;
  height: 87px;
}
.navbar-default .navbar-nav li a {
  color: #E5EAF4;
  position: relative;
  padding-right: 20px;
}
.botonesabajo {
  background-color: #315aa5;
  padding-top: 20px;
}
.navbar-nav {
  margin-top: 0;
}
.navbar-default .navbar-collapse {
  border-color: none;
}
