/*NOTICIAS.HTML*/
.jumbotron {
  background-color: #E5EAF4;
  text-align: center;
  color: #e8a600;
}
.noticias {
  text-align: center;
  padding: 30px;
  margin-bottom: 30px;
  border-bottom: 5px solid #E5EAF4;
  color: #1F3867;

    p {
      text-align: left;
      padding: 20px;
    }
  }
.noticia {
  margin: auto;
  border: 10px solid white;
}
