/*THUMBNAILS*/
 .galeria {
   padding-top: 80px;
   padding-bottom: 60px;
 }
.botonmasinformacion {
  text-align: center;
}
.corregido2 {
  padding-bottom: 13px;
}
.corregido {
  padding-bottom: 27px;
}
