@import url('https://fonts.googleapis.com/css?family=Black+Han+Sans|Dosis');
@import 'nosotros';
@import 'noticias';
@import 'navbar';
@import 'carrusel';
@import 'footer';
@import 'thumbnails';
@import 'googlemaps';

body {
  margin: 0;
  padding-top: 70px;
  background-color: #B2C1DD;
  font-family: 'Dosis', sans-serif;
  color: white;
  font-size: 18px;
}

h1, h2, h3 {
  font-family: 'Black Han Sans', sans-serif;
  color: #e8a600;
}
h6 {
  display: inline-block;
  padding-right: 100px;
}
